
.root{
	
}

.melding{
	-fx-text-fill: #FF0000;
}

.reset{
		
}

.ZWART{	
	-fx-background-image: url("ZwarteSteen.png");
	-fx-background-size:40.0px;	
	-fx-background-color: black;
}

.WIT{
	-fx-background-image: url("WitteSteen.png");
	-fx-background-size:40.0px;
	-fx-background-color: black;
}
.LEEG{		
	-fx-background-color: black;
	
}
.ZWARTDAM{
	
	-fx-background-size:40.0px;
	-fx-background-color: black;
	
}

.WITDAM{
	-fx-background-size:40.0px;
	-fx-background-color: black;
}

.NIETSPEELBAAR{
	-fx-background-color: white;
}
.SPEELBAAR{
	-fx-border-color: red;
    -fx-border-width: 3;
}

